<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <add key="mode" value="sql"/>
        <add key="sqlConnect" value="Server=E1FOUR15F;Database=Lab6Db;Integrated Security=true"/>
        <add key="path" value="../../files/"/>
    </appSettings>
</configuration>